<nav class="navbar navbar-expand-lg  navbar-dark bg-dark">
  <a class="navbar-brand" href="#">
    <img src="assets/images/0.jpeg" width="30" height="30" class="d-inline-block align-top" alt=""
      style="border-radius: 20px;">
    Codezeros Admin 
  </a> 
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/list">
          <img src="assets/icons/list.png">List </a>
      </li>
      
      <li class="nav-item">
        <a class="nav-link" href="/roleandpermision">
          <img src="assets/icons/role.png"> Role and Permision</a>
      </li>
    </ul>
  </div> 
  <form class="form-inline my-2 my-lg-0">
    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Search</button>&nbsp;
    <button class="btn btn-outline-light my-2 my-sm-0" type="submit" (click)="logout()">Logout</button>
  </form>
  <!-- <li class="nav-item">
    <a class="nav-link" href="/logout">
      <img src="assets/icons/profile.png">Logout</a>
  </li>
-->
</nav>  
